<div class="container">
  <h1>Pet Store</h1>
  
  <div class="row">
    <div class="col-lg-4">  
      <input type="text" class="form-control" placeholder="Name" ng-model="name">
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder="Status" ng-model="status">
    </div>
    <div class="col-lg-4">
      <button id="add" type="submit" class="btn btn-success" ng-click="addPet()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
      </button>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="panel panel-default">
    
      <div class="panel-heading">
        <h3 class="panel-title">Pets</h3>
      </div>

      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat = "pet in pets" ng-click="selectPet(pet)">
          <td>{{ pet.name }}</td>
          <td>{{ pet.status }}</td>
        </tr> 
      </table>
    </div>
  <div>

  <div class="panel panel-default" ng-show="selectedPet">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-10">
          <span id="selected"><strong>{{ selectedPet.name }}</strong></span>
        </div>
        <div class="col-md-2">
          <button id="delete" class="btn btn-sm btn-danger" ng-click="deletePet(selectedPet)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          </button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <strong>Status:</strong><span> {{ selectedPet.status }}</span>
    </div>
  </div>

</div>

